# Dependencies
node_modules/
.next/
out/

# Production
build/

# Environment variables
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

# IDE
.vscode/
.idea/
